@media(max-width: 1170px){
    .footer__item:first-child {
        margin-right: 60px;
    }
}
@media(max-width: 1140px){
    .popular__cat-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .title {
        text-align: center;
    }
    .top-companies__top {
        justify-content: center;
    }
    .top-companies__title {
        margin-right: 20px;
    }
    .top-companies__inner {
        justify-content: center;
    }
}
@media(max-width: 1100px){
    .find-job__block-list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .find-job__block-item {
        margin-bottom: 10px;
    }
    .popular__cat-item {
        flex: 0 0 33%;
        max-width: 33.333333%;
    }
    .review-block__item-text {
        max-width: 540px;
    }
    .review-block {
        padding: 82px 0;
    }
    .footer__item:first-child {
        margin-right: 40px;
    }
    .job-detail__inner,
    .blog-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .job-detail__info,
    .blog-content {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .job-detail__aside {
        max-width: 760px;
        width: 100%;
    }
    .job-detail__aside-item__social-list {
        max-width: 250px;
        width: 100%;
    }
    .job-detail__aside-item {
        iframe {
            height: 410px;
        }
    }
    .blog-detail {
        .blog-aside {
            max-width: 760px;
            width: 100%;
        }
    }
    .blog-contact {
        .contact-info__form {
            margin-right: 30px;
        }
    }
    .contact-info__form {
        width: 100%;
        margin-right: 0;
    }
    .contact-info__form-box {
        margin: 0;
    }
}

@media(max-width: 1010px){
    .footer__item-menu {
        width: 255px;
    }
    .footer__inner {
        justify-content: center;
    }
    .footer__inner-left, .footer__inner-right {
        max-width: 720px;
        width: 100%;
        justify-content: space-between;
    }
    .contact-info__form-input {
        display: block;
        margin-left: 0;
        margin-right: 0;
        &:nth-child(1){
            margin-right: 20px;
        }
    }
    .blog-detail .contact-info__form-input:nth-child(1),
    .blog-detail .contact-info__form-input:nth-child(2) {
        width: 50%;
    }
    .login__wrapper {
        margin: 20% auto;
    }
}

@media(max-width: 960px){
    .review-block__slider-btn {
        display: none !important;
    }
    .review-block {
        padding: 50px 0;
    }
    .job-list__item-left {
        margin-bottom: 20px;
    }
    .job__list-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .job__list-aside {
        max-width: 690px;
        width: 100%;
    }
    .job__list {
        .select {
            max-width: 100%;
            width: 100%;
        }
    }
    .job__list-aside {
        height: 100%;
    }
    .job__list-aside__btn {
        width: 100%;
    }
    .job__list-items {
        margin-left: 0;
        width: 690px;
        .select{
            width: 215px;
        }
    }
    .blog-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-aside {
        max-width: 730px;
        width: 100%;
    }
    .blog {
        .pagination {
            margin-bottom: 30px;
        }
    }
    .contact-info__inner {
        flex-wrap: wrap;
    }
    .contact-info__form {
        margin-right: 0;
        width: 100%;
    }
    .contact-info__form {
        margin-bottom: 50px;
    }
}

@media(max-width: 840px){
    .header__menu-hamburger {
        display: block;
    }
    .menu {
        display: none;
    }
    .header__reg-box {
        display: none;
    }
    .header .menu__mobile {
        width: 100%;
        position: fixed;
        overflow: hidden scroll;
        left: 0;
        right: 0;
        top: 76px;
        height: calc(100vh - 76px);
        background-color: rgb(17, 15, 36);
        z-index: 15;
        display: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .menu__mobile-wrapper {
        height: 100%;
        min-height: 700px;
    }
    .menu__mobile-inner {
        padding: 1.4em 2em;
    }
    .header__menu-mobile__item {
        padding: 0.5em 0px;
        border-bottom: 1px solid rgb(42, 30, 57);
        &:last-child {
            border-bottom: none;
        }
    }
    .header__menu-mobile__link {
        padding: 1.3em 0px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.7);
        width: 100%;
        &:hover {
            color: rgb(76, 232, 190);
        }
    }
    .header__mobile-reg__box {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0)
    }
    .find-job__block {
        padding: 50px 0 100px;
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
    }
    .find-job__block-form {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .find-job__block-input {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .select {
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    .find-job__block-btn {
        width: 100%;
    }
    .popular__cat {
        padding-bottom: 82px;
    }
    .job__list-items__top-title {
        margin-bottom: 10px;
    }
    .blog-content {
        margin-right: 0;
    }
    .blog-contact .contact-info__form {
        margin-right: 0;
    }
}

@media(max-width: 760px){
    .popular__cat-item {
        flex: 0 0 100%;
        max-width: 540px;
    }
    .title {
        font-size: 6.2vw;
        line-height: 7.3vw;
    }
    .find-job__block {
        padding: 50px 0 82px;
    }
    .job-list__item-left__country {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .bradcam__title {
        font-size: 6.2vw;
        line-height: 7.3vw;
    }
    .blog-content__item-title h4 {
        font-size: 4.2vw;
        line-height: 5.3vw;
    }
    .blog,
    .job-detail,
    .blog-detail {
        padding: 60px 0 60px;
    }
    .contact-map {
        padding: 80px 0 60px;
    }
    .login__wrapper {
        padding: 60px 70px 40px;
        max-width: 530px;
    }
    #modal button,
    #modal .creat-acc {
        width: 100%;
    }
}

@media(max-width: 610px){
    .top-companies__item {
        width: 100%;
    }
    .review-block__item-img {
        padding-right: 0;
    }
    .footer__item:first-child {
        margin-right: 0;
    }
    .footer__inner-left {
        .footer__item:first-child {
            margin-bottom: 20px;
        }
    }
    .footer__inner-left,
    .footer__inner-right {
        max-width: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .job__list-items {
        width: 100%;
    }
    .blog-content__item-link::after {
        display: none;
    }
    .blog-content__item-author,
    .blog-content__item-link {
        margin-bottom: 5px;
    }
    .blog-content__item-link {
        margin-right: 20px;
    }
    .job-detail__info {
        width: 100%;
    }
    .blog-detail .contact-info__form-input:nth-child(1),
    .blog-detail .contact-info__form-input:nth-child(2) {
        width: 100%;
    }
    .contact-info__form-input {
        &:nth-child(1){
            margin-right: 0px;
        }
    }
    .blog-detail__navigation-bottom {
        flex-wrap: wrap;
    }
    .blog-detail__navigation-bottom__item:nth-child(2) {
        justify-content: flex-start;
    }
    .blog-detail__navigation-bottom__item:nth-child(1) {
        margin-bottom: 20px;
    }
    .blog-detail__navigation-bottom__item-box {
        order: 1;
    }
    .blog-detail__navigation-bottom__item-img__right {
        margin-left: 0;
        margin-right: 20px;
    }
    .blog-detail__navigation-bottom__item-img__arrow-right::before {
        right: -44px;
    }
    .login__wrapper {
        margin: 35% auto;
        padding: 60px 30px 40px;
    }
    .login__title {
        font-size: 28px;
    }
}

@media(max-width: 550px){
    .blog-detail__comments-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-detail__comments-img {
        margin-bottom: 20px;
    }
    .blog-detail__comments-box__innner {
        flex-wrap: wrap;
    }
    .blog-detail__comments-box__info {
        margin-right: 30px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .blog-detail__comments-box__reply {
        padding-right: 0;
        padding-left: 0;
    }
    .blog-detail__comments-item {
        border-bottom: 1px solid #64349e75;
        padding-bottom: 10px;
        &:last-child {
            border-bottom:  none;
        }
    }
}

@media(max-width: 460px){
    .header__mobile-reg__box {
        left: 25%;
        transform: translate(-15%, 0)
    }
    .top__content-title {
        font-size: 55px;
        line-height: 85px;
        padding-top: 20%;
    }
    .job-list__item-left {
        flex-wrap: wrap;
    }
    .job-list__item-img {
        margin-bottom: 20px;
    }
    .job-list__title {
        margin-right: 10px;
    }
    .job-list__top,
    .top-companies__top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .job-list__title,
    .top-companies__title {
        margin-bottom: 30px;
    }
    .popular__cat {
        padding-bottom: 50px;
    }
    .job-list__more {
        width: 100%;
    }
    .blog-content {
        padding: 10px;
    }
    .blog-content__item-title {
        margin-bottom: 15px;
    }
    .contact-map__inner {
        iframe {
            height: 380px;
        }
    }
    .job-detail .job-list__item {
        padding: 15px;
    }
    .job-detail__info-form__input:nth-child(2),
    .job-detail__info-form__input:nth-child(1),
    .blog-detail .contact-info__form-input:nth-child(1),
     .blog-detail .contact-info__form-input:nth-child(2) {
        width: 100%;
    }
    .job-detail__info-description {
        padding: 20px;
    }
    .job-detail__info-form__title {
        max-width: 350px;
        width: 100%;
    }
    .blog-detail__content-quote__wrapper {
        padding: 10px;
    }
    .blog-detail__content-quote {
        padding: 5px;
    }
    .blog-aside__item {
        padding: 20px;
    }
    .blog-detail__author-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-detail__author-img {
        margin-bottom: 20px;
    }
    .blog-content__item-info {
        padding: 20px;
    }
    .login__wrapper {
        padding: 60px 20px 40px;
    }
}

@media(max-width: 360px){
    .job-list__title,
    .top-companies__title {
        margin-right: 0;
    }
    .header__mobile-reg__box {
        text-align: center;
    }
    .header__login {
        margin-right: 0;
        padding: 10px;
    }
}